<% include head %>
<div class="carte">
<img id="fond" src="/images/carte_france/map.png">
<img class="blason" id="provence" src="/images/carte_france/province_provence.png">
<img class="blason" id="idf" src="/images/carte_france/province_idf.png">
<img class="blason" id="bordeaux" src="/images/carte_france/bordeaux.png">
<img class="blason" id="angouleme" src="/images/carte_france/angouleme.png">
<img class="blason" id="annecy" src="/images/carte_france/annecy.png">
<img class="blason" id="clermont" src="/images/carte_france/clermont.png">
<img class="blason" id="grenoble" src="/images/carte_france/grenoble.png">
<img class="blason" id="lyon" src="/images/carte_france/lyon.png">
<img class="blason" id="nantes" src="/images/carte_france/nantes.png">
<img class="blason" id="oise_picardie" src="/images/carte_france/oise_picardie.png">
<img class="blason" id="rennes" src="/images/carte_france/rennes.png">
</div>
 
<% include foot %>