<% include head %>

<div id="contactez_nous">
<div id="titre"><h1>Contactez-nous</h1></div>

    <form method="POST" action="/contact">
        <input type="text" name="prenom" placeholder="Prénom" />
        <input type="text" name="nom" placeholder="Nom" />
        <input type="email" name="email" placeholder="Courriel" />
        <label>Votre message :<br/><textarea name="message"></textarea></label>
        <button type="submit">Envoyer</button>
    </form>
</div>
<% include foot %>