<% include head %>

<div id="contactez_nous">
<div id="titre"><h1>Contactez-nous</h1></div>
    <div>
       
        <input type="text" id="prenom" placeholder="Prénom" />
		<input type="text" id="prenom" placeholder="Nom" />
    </div>
    <div>
        <input type="email" id="courriel" placeholder="Courriel" />
    </div>
    <div>
        <textarea id="message" placeholder="Votre message"></textarea>
    </div>
    
    <div class="button">
        <button type="submit">Envoyer votre message</button>
    </div>
</div>
<% include foot %>