        </section>
        <aside>
          <table id='boutons_lateraux'>
            <tr id="ligne2"><td id="icone_rectangle" colspan="4"><a href="/adherer"><img   src="/images/adherer.png"/></a></td></tr>
            <tr id="ligne3"><td id="icone_rectangle" colspan="4"><a href="/dons"><img  src="/images/dons.png"/></a></td></tr>
            <tr id="ligne3"><td id="icone_rectangle" colspan="4"><a href="/carte"><img  src="/images/afchezmoi.png"/></a></td></tr>
            <tr id="ligne4"><td id="icone_rectangle" colspan="4"><a href="/af2000"><img  src="/images/AF2000.png" /></a></td></tr>
            <tr id="ligne5"><td id="icone_rectangle" colspan="4"><a href="http://www.librairie-de-flore.fr/"><img src="/images/boutique.png" /></a></td></tr>
		        <tr id="ligne6"><td id="icone_rectangle" colspan="4"><a href="/medias"><img src="/visuel/random"/></a></td></tr>
				  </table>
				  <div id="adresse_craf">
            <h3>Centre Royaliste d'Action Française</br>
  				  10 rue Croix-des-Petits-Champs</br>75001 PARIS</br>contact@actionfrancaise.com </h3>
          </div>
        </aside>
      </div>
    </body>
</html>