<% include head %>

<% include slideshow %>

<div id="alaune"> 
    <div class="evenement">
    	<a href="/campagnes/<%= latestCampagne.code %>">
            <img class="image_evenement" src="/campagnes/<%= latestCampagne.code %>/affiche" />
        	<h1><%= latestCampagne.type %></h1></a>
    	</div>
       
    <div class="video videodumoment" id="video_e5WxM2qjpBo" onClick="loadVideo(this, 'e5WxM2qjpBo')"></div>
    <script>$('document').ready(function() {loadTitle('e5WxM2qjpBo');});</script>
    <div id="videossecondaires">
        <div class="video" id="video_1jPOX72PPMw" onClick="loadVideo(this, '1jPOX72PPMw')"></div>
        <script>$('document').ready(function() {loadTitle('1jPOX72PPMw');});</script>
        <div class="video" id="video_5W-IIoqQHKs" onClick="loadVideo(this, '5W-IIoqQHKs')"></div>
        <script>$('document').ready(function() {loadTitle('5W-IIoqQHKs');});</script>
    </div>
</div> 

<script>
    function loadVideo(parentDiv, code) {
        parentDiv.innerHTML = '<iframe src="http://www.youtube.com/embed/' + code + '?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>';
    }

    function loadTitle(code) {
        $.getJSON("http://gdata.youtube.com/feeds/api/videos/" + code + "?v=2&alt=jsonc", function(response) {
            document.getElementById("video_" + code).innerHTML = '<img src="http://img.youtube.com/vi/' + code + '/0.jpg"/>' + '<h1>' + response.data.title + '</h1>';
        });
    }
</script>

<% articles.forEach(function(article) {%>
	<% include resume_article %>
<% });%>

<% include foot %>