<% include head %>

<% include slideshow %>

<div id="alaune"> 
    <div id="evenement"></div>
       
    <div class="video videodumoment" id="video_e5WxM2qjpBo" onClick="loadVideo(this, 'e5WxM2qjpBo')"></div>
    <script>$('document').ready(function() {loadTitle('e5WxM2qjpBo');});</script>
    <div id="videossecondaires">
        <div class="video" id="video_1jPOX72PPMw" onClick="loadVideo(this, '1jPOX72PPMw')"></div>
        <script>$('document').ready(function() {loadTitle('1jPOX72PPMw');});</script>
        <div class="video" id="video_5W-IIoqQHKs" onClick="loadVideo(this, '5W-IIoqQHKs')"></div>
        <script>$('document').ready(function() {loadTitle('5W-IIoqQHKs');});</script>
    </div>
</div> 

<div id="filtre_articles">
    <input type="text" id="search" placeholder="Mot clé, auteur, titre ..."/>
</div>

<div id="articles"></div>

<script>
    function loadVideo(parentDiv, code) {
        parentDiv.innerHTML = '<iframe src="http://www.youtube.com/embed/' + code + '?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>';
    }

    function loadTitle(code) {
        $.getJSON("http://gdata.youtube.com/feeds/api/videos/" + code + "?v=2&alt=jsonc", function(response) {
            document.getElementById("video_" + code).innerHTML = '<img src="http://img.youtube.com/vi/' + code + '/0.jpg"/>' + '<h1>' + response.data.title + '</h1>';
        });
    }

    var cache_resume = {};
    var scroll = false;

    function load_one(article_node, html) {
        $(article_node).html(html);
        $(article_node).find('.texte_article p').each(function() {
            var jElement = $(this);

            while(jElement[0].scrollHeight > jElement[0].offsetHeight) {
                var lastIndex = jElement.html().lastIndexOf(" ");
                jElement.html(jElement.html().substring(0, lastIndex) + '&hellip;');
            }
        });
        if(scroll) $("#articles").get(0).scrollIntoView(true);
    }

    function load_selected() {
        $("#articles div.article.selected").each(function() {
            var article_element = this;
            var code = this.dataset.code;
            if(typeof(cache_resume[code]) === 'undefined') $.get('/articles/' + code + '/resume', function(html) {
                cache_resume[code] = html;
                load_one(article_element, html);
            }); else load_one(article_element, cache_resume[code]);
        });
    }

    function prepare_list(list) {
        $("#articles").empty();
        list.forEach(function(code) {
            $("#articles").append('<div class="article" data-code="' + code + '"></div>');
        });
        $('.article').slice(0, 20).addClass('selected');
        already_loaded = 20;

        refresh_scrolling();
    }

    var already_loaded = 0;
    var refreshing = false;
    function refresh_scrolling() {
        if(refreshing == true) return;
        refreshing = true;

        var offset = $('.article:last').offset().top;
        if(typeof(offset) == 'undefined') offset = 0;

        if((offset - $(window).height() <= $(window).scrollTop())) {
            var loadMax = $('.article.visible').length + 20;
            $('.article').slice(20, loadMax).addClass('selected');
            already_loaded = loadMax;
            console.log(loadMax);
        }

        load_selected();

        setTimeout(function() { refreshing = false; }, 500);
    }

    $(function() {
        $.get('/actions/latest', function(data) {
            $("#evenement").html(
                '<a href="/actions/' + data.code + '">' +
                    '<img class="image_evenement" src="/actions/' + data.code + '/affiche" />' +
                    '<h1>' + data.code + '</h1>' +
                '</a>');
        });

        $("#search").val("").keyup(function() {
            scroll = true;
            $.post('/articles/' + $(this).val(), prepare_list);
        });

        $.get('/articles', prepare_list);
    });

    $(window).scroll(refresh_scrolling);
</script>
<% include foot %>