<% include head %>

<div class="evenement">
	<a href="/article/1"><img  class="image_evenement" src="/images/evenement.jpg"></a>
	<div class="description_evenement">
		<a href=""><h1 class="titre_evenement">14 MAI 2014 - CORTEGE TRADITIONNEL SAINTE JEANNE D'ARC</h1></a>
	</div>

	
</div>

<% articles.forEach(function(article) {%>
	<% include resume_article %>
<% });%>

<% include foot %>