<% include head %>
<div id="texte_manifeste">
	<div id="titre"><h1>Manifeste de l'Action Française</h1> </div> <hr>
<p id="description">L’Action française est animée par une double préoccupation : elle entend préparer la restauration de la monarchie et, dans l’attente du retour du roi, œuvrer pour la défense de l’intérêt national..</p>

<h1>LA RESTAURATION DE LA MONARCHIE</h1></br>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C’est en jugeant les institutions selon leur capacité de faire vivre la nation française ou de la conduire à la décadence que les fondateurs de l’Action française ont conclu à la nécessité de restaurer la monarchie. Le nationalisme conduit logiquement au royalisme. La France est le fruit de la politique capétienne, poursuivie durant plus de huit siècles. Aujourd’hui, la monarchie conférerait à l’État des qualités bénéfiques :</br></br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’unité, sans laquelle il ne saurait y avoir d’autorité véritable et qui est indispensable pour garantir l’indépendance nationale. Au contraire, la démocratie divise les français et entretient un état de guerre civile larvée. Les intérêts supérieurs du pays sont sacrifiés aux luttes partisanes.</br></br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La continuité et les successions paisibles, conséquences de l’hérédité du pouvoir. Ainsi des objectifs à long terme peuvent-ils être atteints. La continuité du pouvoir monarchique durant huit cents ans contraste avec l’instabilité institutionnelle des deux derniers siècles.</br></br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’indépendance. Elle est la qualité d’un régime qui ne repose pas sur l’élection, laquelle lie le pouvoir à l’opinion publique, l’obligeant à pratiquer une démagogie éhontée pour recueillir des suffrages. Le régime électif est ainsi obligé de centraliser l’administration du pays. Il détruit les libertés locales, municipales, régionales, professionnelles, toutes ces petites républiques à qui le Roi permettait de vivre et de s’organiser librement. Dégagé des soucis électoraux, il serait en situation d’être un arbitre.</br></br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La responsabilité. Les intérêts dynastiques et personnels du Roi se confondent avec les intérêts nationaux, tandis que le pouvoir démocratique dilue la responsabilité dans des majorités et des scrutins.</br></br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;La légitimité. C’est-à-dire un pouvoir s’exerçant en vue du seul bien commun, indépendant des groupes d’intérêts et des puissances d’argent. L’État royal puise sa légitimité dans l’histoire et les services qu’il a rendus au pays au cours des siècles. Il n’y a pas de légitimité en démocratie puisque le pouvoir est le fruit des compétitions électorales et que les partis l’exercent selon les caprices de l’opinion.</br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ces vérités politiques, que la réflexion découvre, sont confirmées par l’histoire. La monarchie traditionnelle, chrétienne, héréditaire, décentralisée et représentative a fait la France et l’a conduite à son apogée.</br></br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Le bilan des régimes démocratiques, Républiques ou Empires, est autrement lourd : nombreuses invasions depuis 1792, instabilité constitutionnelle, luttes intestines et révolutions, affaiblissement général de la France.</br></br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;L’Action française travaille donc à changer les institutions politiques. Ayant condamné le régime républicain, elle s’emploie à en débarrasser la nation. Ayant reconnu dans la monarchie la vérité historique de la France, elle s’efforce de la restaurer en la personne du Chef de la Maison de France.</p></br>

<h1>LA DÉFENSE DE L’INTÉRÊT NATIONAL</h1></br>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Royalistes parce que nationalistes, les adhérents de l’Action française, s’appliquent à défendre l’héritage en l’absence de l’héritier. Ils essaient de limiter les méfaits républicains en les dénonçant par la propagande et en les combattant par l’action.</br></br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ils pratiquent à l’occasion le "compromis nationaliste", c’est-à-dire l’entente avec tous les patriotes pour mener telle ou telle campagne d’intérêt public.</br></br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Parce que la nation constitue le plus vaste des cercles communautaires qui soit, au temporel, solide et complet, l’Action française défend la France et ses prolongements outre-mer contre toutes les agressions intérieures et extérieures.</br></br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En conclusion, l’Action française convie tous les français à se rassembler sur le seul terrain politique afin de sauvegarder la nation française et lui rendre les institutions qui garantiront sa pérennité. Seule la monarchie répond aux besoins d’autorité, de libertés et de représentation du pays réel et peut permettre à la France de faire face aux enjeux du monde moderne.</br></p></br></div>
<% include foot %>