<% include head %>

<div id="visuels" class="viewer_elements"></div>
<div id="videos"></div>

<script>
	function loadVideo(parentDiv, code) {
		parentDiv.innerHTML = '<iframe src="http://www.youtube.com/embed/' + code + '?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>';
	}

	$(function() {
		$('#random').remove();
		$.get('/media/visuels', function(response, success, xhr) {
			if(!success) {
				log(response);
				return;
			}

			response.forEach(function(filename) {
				$('#visuels').append('<img src="/media/visuels/' + filename + '"/>');
			})
		});

		$.get('/media/videos', function(response, success, xhr) {
			response.forEach(function(code) {
				$('#videos').append('<div class="video_' + code + '" onClick="loadVideo(this, \'' + code + '\')"></div>');
				
				$.get("http://gdata.youtube.com/feeds/api/videos/" + code + "?v=2&alt=jsonc", function(response) {
	    			$(".video_" + code).html('<img src="http://img.youtube.com/vi/' + code + '/0.jpg"/>' + '<h1>' + response.data.title + '</h1>');
	    		});
			})
		});
	});
</script>

<% include viewer %>

<% include foot %>