<% include head %>

<div id="titre"><h1>Visuels, affiches et vidéos</h1></div>

<div id="visuels">
	<% visuels.forEach(function(filename) { %>
		 <img src="/visuel/<%= filename %>"/>
	<% }); %>
</div>

<div id="videos">
	<% videos.forEach(function(code) {%>
		<div id="video_<%= code %>" onClick="loadVideo(this, '<%= code %>')"></div>
		<script>$('document').ready(function() {loadTitle('<%= code %>');});</script>
	<% }); %>
</div>

<script>
	function loadVideo(parentDiv, code) {
		parentDiv.innerHTML = '<iframe src="http://www.youtube.com/embed/' + code + '?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>';
	}

	function loadTitle(code) {
	    $.getJSON("http://gdata.youtube.com/feeds/api/videos/" + code + "?v=2&alt=jsonc", function(response) {
	    	document.getElementById("video_" + code).innerHTML = '<img src="http://img.youtube.com/vi/' + code + '/0.jpg"/>' + '<p>' + response.data.title + '</p>';
	    });
	}
</script>

<% include foot %>