<% include head %>

<% include militez_tuiles %>

<div class="intro"><img src="/images/image_camelots_2.gif"><h1>Camelots du Roi</h1>
<p>Lorsque l’Action Française commença à paraître, en mars 1908, des jeunes gens décidèrent de le vendre à la criée. Un journaliste les appela par dérision "les camelots du Roi". Les jeunes militants d’AF relevèrent le défi et adoptèrent cette appellation.

La vente du journal à la criée, depuis lors, a toujours été la tâche essentielle des Camelots du Roi. Elle contribue à la diffusion des idées royalistes dans le grand public, mais elle est aussi l’école du militantisme. C’est en vendant le journal que le propagandiste apprend à affronter l’adversaire, à discuter avec le sympathisant, à s’astreindre à une discipline librement consentie.</p></div>


<div class="texte" id="texte_1">
<a href=""><img class="image_auteur" src="/images/auteur_maurras.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_2">
<a href=""><img class="image_auteur" src="/images/auteur_boutang.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Royauté et libertés renaîtront de concert</h1>
		<p>Quoi qu’on ait prétendu, cet espoir d’une renaissance française n’est point une chimère, </p>	
	</div>
</div>

<div class="texte" id="texte_3">
<a href=""><img class="image_auteur" src="/images/auteur_bainville.jpg" /></a>
	<div class="texte_texte">
		<h1>Bilan de la république</h1>
		<p>C’est au résultat que l’on juge un mode de gouvernement. </p>	
	</div>
</div>

<div class="texte" id="texte_4">
<a href=""><img class="image_auteur" src="/images/auteur_maurras.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Je suis Romain !</h1>
		<p>Je suis Romain, parce que Rome, dès le consul Marius et le divin Jules, jusqu’à Théodose, ébaucha la première configuration de ma France.</p>	
	</div>
</div>

<div class="texte" id="texte_5">
<a href=""><img class="image_auteur" src="/images/auteur_maulnier.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Effets du libéralisme</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_6">
<a href=""><img class="image_auteur" src="/images/auteur_daudet.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_1">
<a href=""><img class="image_auteur" src="/images/auteur_maurras.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_2">
<a href=""><img class="image_auteur" src="/images/auteur_maurras.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Royauté et libertés renaîtront de concert</h1>
		<p>Quoi qu’on ait prétendu, cet espoir d’une renaissance française n’est point une chimère, </p>	
	</div>
</div>

<div class="texte" id="texte_3">
<a href=""><img class="image_auteur" src="/images/auteur_bainville.jpg" /></a>
	<div class="texte_texte">
		<h1>Bilan de la république</h1>
		<p>C’est au résultat que l’on juge un mode de gouvernement. </p>	
	</div>
</div>

<div class="texte" id="texte_4">
<a href=""><img class="image_auteur" src="/images/auteur_maurras.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Je suis Romain !</h1>
		<p>Je suis Romain, parce que Rome, dès le consul Marius et le divin Jules, jusqu’à Théodose, ébaucha la première configuration de ma France.</p>	
	</div>
</div>

<div class="texte" id="texte_5">
<a href=""><img class="image_auteur" src="/images/auteur_maulnier.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Effets du libéralisme</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_6">
<a href=""><img class="image_auteur" src="/images/auteur_daudet.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_6">
<a href=""><img class="image_auteur" src="/images/auteur_daudet.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_1">
<a href=""><img class="image_auteur" src="/images/auteur_maurras.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_2">
<a href=""><img class="image_auteur" src="/images/auteur_maurras.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Royauté et libertés renaîtront de concert</h1>
		<p>Quoi qu’on ait prétendu, cet espoir d’une renaissance française n’est point une chimère, </p>	
	</div>
</div>

<div class="texte" id="texte_3">
<a href=""><img class="image_auteur" src="/images/auteur_bainville.jpg" /></a>
	<div class="texte_texte">
		<h1>Bilan de la république</h1>
		<p>C’est au résultat que l’on juge un mode de gouvernement. </p>	
	</div>
</div>
<div class="texte" id="texte_6">
<a href=""><img class="image_auteur" src="/images/auteur_daudet.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_1">
<a href=""><img class="image_auteur" src="/images/auteur_maurras.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_2">
<a href=""><img class="image_auteur" src="/images/auteur_maurras.jpg" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Royauté et libertés renaîtront de concert</h1>
		<p>Quoi qu’on ait prétendu, cet espoir d’une renaissance française n’est point une chimère, </p>	
	</div>
</div>

<div class="texte" id="texte_3">
<a href=""><img class="image_auteur" src="/images/auteur_bainville.jpg" /></a>
	<div class="texte_texte">
		<h1>Bilan de la république</h1>
		<p>C’est au résultat que l’on juge un mode de gouvernement. </p>	
	</div>
</div>


<% include foot %>