<% include head %>

<% include militez_tuiles %>
<div id="camelots">
<img id="bandeau" src="/style/images/camelots/bandeau_camelot.jpg">
<div class="ss_titre"><h1>Origine des camelots</h1></div>

<div class="intro">
	<img src="/style/images/camelots/image_intro.jpg">
<p>Lorsque l’Action Française commença à paraître, en mars 1908, des jeunes gens décidèrent de le vendre à la criée. Un journaliste les appela par dérision "les camelots du Roi". Les jeunes militants d’AF relevèrent le défi et adoptèrent cette appellation.

La vente du journal à la criée, depuis lors, a toujours été la tâche essentielle des Camelots du Roi. Elle contribue à la diffusion des idées royalistes dans le grand public, mais elle est aussi l’école du militantisme. C’est en vendant le journal que le propagandiste apprend à affronter l’adversaire, à discuter avec le sympathisant, à s’astreindre à une discipline librement consentie.</p></div>

<div class="ss_titre"><h1>Histoires de camelots</h1></div>
	
	<div class="texte" id="affaire_thalamas">
<a href=""><img src="/style/images/camelots/Thalamas.jpg"></a>
		<div class="texte_texte">
		<h1 class="titre_texte">L'affaire Thalamas</h1>
		<p>Du 2 décembre 1908 au 17 février 1909, se développe "l’affaire Thalamas", du nom d’un professeur du lycée Charlemagne qui avait insulté la mémoire de Jeanne d’Arc devant ses élèves et qui a été chargé de donner une série de cours à la Sorbonne sur La pédagogie de l’Histoire.</p>	
		</div>
	</div>

	<div class="texte" id="inondation_1910">
<a href=""><img src="/style/images/camelots/inondations.jpg"></a>
		<div class="texte_texte">
		<h1 class="titre_texte">Les inondations de 1910</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
		</div>
	</div>
	
	<div class="texte" id="affaire_thalamas">
<a href=""><img src="/style/images/camelots/reconstitution.jpg"></a>
		<div class="texte_texte">
		<h1 class="titre_texte">La reconstitution après la guerre et les années 20</h1>
		<p>Du 2 décembre 1908 au 17 février 1909, se développe "l’affaire Thalamas", du nom d’un professeur du lycée Charlemagne qui avait insulté la mémoire de Jeanne d’Arc devant ses élèves et qui a été chargé de donner une série de cours à la Sorbonne sur La pédagogie de l’Histoire.</p>	
		</div>
	</div>

	<div class="texte" id="inondation_1910">
<a href=""><img src="/style/images/camelots/poldevie.jpg"></a>
		<div class="texte_texte">
		<h1 class="titre_texte">L'esprit Camelot : la Poldévie</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
		</div>
	</div>

	
	<div class="texte" id="affaire_thalamas">
<a href=""><img src="/style/images/camelots/stavisky.jpg"></a>
		<div class="texte_texte">
		<h1 class="titre_texte">L'affaire Stavisky et le 6 février 34</h1>
		<p>Du 2 décembre 1908 au 17 février 1909, se développe "l’affaire Thalamas", du nom d’un professeur du lycée Charlemagne qui avait insulté la mémoire de Jeanne d’Arc devant ses élèves et qui a été chargé de donner une série de cours à la Sorbonne sur La pédagogie de l’Histoire.</p>	
		</div>
	</div>

	<div class="texte" id="inondation_1910">
<a href=""><img src="/style/images/camelots/delavault.jpg"></a>
		<div class="texte_texte">
		<h1 class="titre_texte">L'affaire Delavault</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
		</div>
	</div>

	<div class="texte" id="inondation_1910">
<a href=""><img src="/style/images/camelots/constitution.jpg"></a>
		<div class="texte_texte">
		<h1 class="titre_texte">Le combat pour le "non" au traité de Constitution européenne</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>	
		</div>
	</div>		

<div class="ss_titre"><h1>Photos</h1></div>
<div class="ss_titre"><h1>Videos</h1></div>
<div class="ss_titre"><h1>Chants camelots</h1></div>
		
	
</div>

<script>
	$(window).scroll(function() {
		var aimedTop = $(this).scrollTop() - 350;
		if(aimedTop < 0) aimedTop = 0;
		$('#camelots nav').css('top', aimedTop);
	});
</script>

<% include foot %>