<div id='militez'>     
	<a href="/militez/militer"><div id="tuile_militer">	
		<h1>Militer à l'AF</h1>
		<img src="/style/images/icone_megaphone.png"/>
		<p>Nous souhaitez militer dans nos rangs&nbsp;? Cette page vous fournira les renseignements nécessaires pour le faire efficacement.</p>
	</div></a>
	<a href="/militez/campagnes"><div id="tuile_campagnes">
		<h1>Campagnes et évenements</h1>
		<img src="/style/images/icone_poing.png"/>
		<p>Découvrez le prochain grand rendez-vous d'Action Française ainsi que la rétrospective des précédentes campagnes.</p>
	</div></a>
	<a href="/militez/carte"><div id="tuile_carte">
		<h1>L'AF près de chez moi</h1>
		<img src="/style/images/icone_localise.png"/>
		<p>Retrouvez la section d’Action Française proche de chez vous ou montez votre section pour militer dans votre province.</p>
	</div></a>
	<a href="/militez/camelots"><div id="tuile_camelots">
		<h1>Les camelots du Roi</h1>
		<img src="/style/images/icone_camelot.png"/>
		<p>Fondés en 1908, les Camelots sont notre passé. Entre mythe et réalité, ces hommes venus de tous horizons ont tenu en joue la République pendant tout le début du siècle.</p>
	</div></a>
	<a href="/militez/cmrds"><div id="tuile_cmrds">
		<h1>Camp Maxime Real del Sarte</h1>
		<img src="/style/images/icone_cmrds.png"/>
		<p>Rendez-vous annuel incontournable de la jeunesse royaliste depuis 1952, le CMRDS allie formation et préparation à l'action pendant une semaine conviviale et enrichissante.</p>
	</div></a>
	<a href="/militez/textes"><div id="tuile_textes">
		<h1>Grands textes</h1>
		<img src="/style/images/icone_grands_textes.png"/>
		<p>Un militant doit être formé. L'Action Française iniste particulièrement sur ce point et met à disposition de tous un florilège de textes dans lesquels nous-nous retrouvons.</p>
	</div></a>
</div>

<script>
	$(function() {
		var pathname = window.location.pathname.split('/');
		if(pathname[1] != "militez") {
			$('#militez').remove();

			var allLinks = $('section a[href*="militez"]');
			allLinks.attr("href", allLinks.attr("href").replace('/militez', ''));
		}

		var a = $('#militez > a[href="/' + pathname[1] + "/" + pathname[2] + '"]').click(function() {return false}).addClass("current");
	});
</script>