<% include head %>

<% include militez_tuiles %>

<div id="carte">
	<img id="fond" src="/style/images/map.png" />
</div>

<div id="carte_aside">
	<div id="navigation_rapide">
		<h2>NAVIGATION RAPIDE</h2>
        <select id="liste_sections" onChange="drawSection(this.value)"></select>
	</div>
	<div id="details"></div>

	<a href="/creer"><button id="creermasection" type="button">Créer ma section</button></a>
</div>

<script>
	var current = null;

	function drawSection(id) {
		if(current && id == current.id) return;
		current = findSection(id);

		var index = $("#liste_sections > option[name='" + id + "']")[0].index;
		document.getElementById("liste_sections").selectedIndex = index;

		var details = document.getElementById("details");
		details.innerHTML =
			'<img class="blason_description" src="/sections/' + current.id + '/blason" />' +
			'<h1>' + current.complet + '</h1>' +
			'<p>' + current.texte + '</p>' +
			'<div id="suivre_section">' +
				'<a href="http://facebook.com/' + current.facebook + '"><img src="/style/images/icone_fb.png"></a>' +
				'<a href="/section/' + current.id + '/contact"><img src="/style/images/icone_mail.png"></a>' +
			'</div>';

		$("img.blason").removeClass("active");
		$("#blason_" + current.id).addClass("active");
	}

	function findSection(id) {
		var output = sections[0]
		sections.forEach(function(section) {
			if(section.id == id) output = section;
		});
		return output;
	}

	var sections = null;

	$(function() {
		$.get('/sections', function(data) {
			data.forEach(function(section) {
				$("#carte").append('<img id="blason_' + section.id + '" class="blason" src="/sections/' + section.id + '/blason"' +
				'style="bottom: ' + section.position.y + 'px; left: ' + section.position.x + 'px; z-index: ' + (1000 - section.position.y) + '"' +
				'onClick="drawSection(\'' + section.id + '\')"/>');

				$("#liste_sections").append('<option name="' + section.id +'" value="' + section.id + '">' + section.court + '</option>');
			});

			sections = data;
			drawSection(sections[0].id);
		});
	});
</script>

<% include foot %>