<% include head.ejs %>

<% include militez_tuiles.ejs %>

<input type="text" id="filtrer" placeholder="Filtrer" />

<div id="textes"></div>

<script>
	$.post('/militez/textes').done(function(data) {
		data.forEach(function(code) {
			$.ajax('/militez/textes/' + code, { accepts: "application/json" }).done(function(data) {
				$("#textes").append(
					'<a href="/militez/textes/' + code + '"><div class="texte">' +
						'<img class="image_auteur" src="/profils/' + data.profil_auteur + '/photo" />' +
						'<div class="texte_texte">' +
							'<h1>' + data.titre + '</h1>' +
							'<p>' + data.texte + '</p>' +
						'</div>' +
					'</a></div>'
				);

				$(".texte p").each(function() {
	                var jElement = $(this);

	                while(this.scrollHeight > this.offsetHeight) {
	                    var lastIndex = jElement.html().lastIndexOf(" ");
	                    jElement.html(jElement.html().substring(0, lastIndex) + '&hellip;');
	                }
	            });
			})
		});
	});
</script>

<% include foot.ejs %>