<% include head %>

<% include militez_tuiles %>
<div id="camelots">

<div class="intro"><h1>Les Camelots du Roi</h1>
<p>Lorsque l’Action Française commença à paraître, en mars 1908, des jeunes gens décidèrent de le vendre à la criée. Un journaliste les appela par dérision "les camelots du Roi". Les jeunes militants d’AF relevèrent le défi et adoptèrent cette appellation.

La vente du journal à la criée, depuis lors, a toujours été la tâche essentielle des Camelots du Roi. Elle contribue à la diffusion des idées royalistes dans le grand public, mais elle est aussi l’école du militantisme. C’est en vendant le journal que le propagandiste apprend à affronter l’adversaire, à discuter avec le sympathisant, à s’astreindre à une discipline librement consentie.</p></div>



	<nav>
		<div class="line"></div>
		<div class="evenement"><a href="#affaire_thalamas"><span>L'affaire Thalamas</span></a></div>
		<div class="evenement"><a href="#inondations_1910"><span>Les inondations de 1910</span></a></div>
		<div class="evenement"><a href="#apres_guerre"><span>La reconstitution après la guerre et les années 20</span></a></div>
		<div class="evenement"><a href="#stavisky"><span>L'affaire Stavisky et le 6 février 34</span></a></div>
		<div class="evenement"><a href="#delavault"><span>L'affaire Delavault</span></a></div>
		<div class="evenement"><a href="#constitution"><span>Le combat pour le "non" au traité de Constitution européenne</span></a></div>
	</nav>
	</nav>
	<div id="timeline">
		<article id="affaire_thalamas">
			<h2>L'affaire Thalamas</h2>
			<img src="/style/images/Thalamas.jpg">
			<p>
				Du 2 décembre 1908 au 17 février 1909, se développe "l’affaire Thalamas", du nom d’un professeur du lycée Charlemagne qui avait insulté la mémoire de Jeanne d’Arc devant ses élèves et qui a été chargé de donner une série de cours à la Sorbonne sur La pédagogie de l’Histoire. C’en est trop pour l’Action française qui chaque mercredi – jour où officie Thalamas – appelle à manifester contre le professeur indigne :

* lors du premier cours, le 2 décembre 1908, étudiants et camelots envahissent l’amphithéâtre Michelet et mènent un tapage d’enfer. Maxime Real del Sarte inflige à Thalamas une paire de gifles. Celui-ci s’enfuit ; les jeunes gens quittent la salle, se répandent sur le boulevard Saint-Michel, rompent les barrages de la police, franchissent la Seine, et arrivent à la statue de Jeanne d’Arc, où ils déposent une gerbe de fleurs

* Les 9 et 16 décembre, même manifestations

* Le 23, voulant réhabiliter Jeanne d’Arc, Maurice Pujo a entrepris de lui consacrer un cours libre en pleine Sorbonne, au sein de l’amphithéâtre Guizot et trace devant ses auditeurs un tableau historique. Il compare ainsi l’état de la France au XVe siècle avec celui de son temps

* Le 17 février, les camelots se sont enfermés dans la Sorbonne et, à l’heure du cours de Thalamas, ils pénètrent dans son amphithéâtre. Ils étendent l’insulteur de Jeanne d’Arc sur la chaire, relèvent sa redingote et lui administrent une fessée mémorable. Il n’y aura pas d’autre cours de "pédagogie de l’Histoire"...

Toutes ces actions, et bien d’autres, se soldent par de nombreuses arrestations et condamnations par des magistrats qui ne manifestent aucune mansuétude à l’égard des camelots.<br/>
			</p>
		</article>
		<div class="line"></div><div></div>
		<article id="inondations_1910">
			<h2>Les inondations de 1910</h2>
			<p>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
			</p>
		</article>
		<div class="line"></div><div></div>
		<article id="apres_guerre">
			<h2>La reconstitution après la guerre et les années 20</h2>
			<p>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
			</p>
		</article>
		<div class="line"></div><div></div>
		<article id="stavisky">
			<h2>L'affaire Stavisky et le 6 février 34</h2>
			<p>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
			</p>
		</article>
		<div class="line"></div><div></div>
		<article id="delavault">
			<h2>L'affaire Delavault</h2>
			<p>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
			</p>
		</article>
		<div class="line"></div><div></div>
		<article id="constitution">
			<h2>Le combat pour le "non" au traité de Constitution européenne</h2>
			<p>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."<br/>
			</p>
		</article>
	</div>
</div>

<script>
	$(window).scroll(function() {
		var aimedTop = $(this).scrollTop() - 350;
		if(aimedTop < 0) aimedTop = 0;
		$('#camelots nav').css('top', aimedTop);
	});
</script>

<% include foot %>