<% include head %>

<% include militez_tuiles %>

<div id="militer">
	<img src="/style/images/image_militer.jpg">
	<div class="ss_titre"><h1>MILITER A L'ACTION FRANCAISE</h1></div>
	<p>

	Distribution de tracts à la sortie des lycées et des universités, sur les marchés et dans les boîtes aux lettres, vente à la criée de L’Action Française 2000, collage d’affiches et d’autocollants... Voici quelques-unes des activités auxquelles se consacrent toutes les sections d’AF.

	Les militants organisent également des cercles de formation, ils s’expriment dans les bulletins et les organes annexes du mouvement comme Insurrection et L’Action sociale corporative, ou parfois dans les colonnes de L’AF 2000.

	L’année est ponctuée par des rendez-vous : les rencontres traditionnelles organisées dans les provinces (comme le rassemblement de la Saint-Michel en Bourgogne ou les commémorations du 21 janvier) ; le banquet des Amis de l’Action française et la fête nationale de Jeanne d’Arc ; le Camp Maxime Real del Sarte, l’université d’été de l’Action française, où sont dispensés une formation intellectuelle ainsi qu’un apprentissage des techniques militantes.

	Ne négligeons pas non plus d’investir la toile ! Chaque section se doit de mettre en ligne un blog, voire un véritable site, et d’encourager ses militants à intervenir sur le forum de l’AF.

	<div class="ss_titre"><h1>VOUS SOUHAITEZ MILITER ?</h1></div>

	Vérifiez sur la page des contacts s’il existe une section d’Action française près de chez vous. Si c’est le cas, le responsable local sera ravi de vous rencontrer ! Sinon, nous comptons sur votre dévouement à la cause monarchique et votre motivation pour implanter l’AF dans votre région. Prenez contact avec le siège du mouvement à Paris. Il vous assistera et vous fournira le matériel nécessaire : plaquettes de formation, cahier de cercles d’études, tracts, autocollants et affiches...

	<div class="ss_titre"><h1>LE PREMIER ACTE MILITANT</h1></div>

	Enfin, n’oublions pas que le tout premier acte de militantisme consiste à adhérer au CRAF. Adhésion somme toute modeste, mais essentielle pour le mouvement qui ne bénéficie d’aucune subvention. Alors, suivez le lien pour télécharger le bulletin d’adhésion ! </p>
</div>

<% include foot %>