<% include head %>

<% include militez_tuiles %>

<div class="intro"><h1>Camelots du Roi</h1>
<p>Lorsque l’Action Française commença à paraître, en mars 1908, des jeunes gens décidèrent de le vendre à la criée. Un journaliste les appela par dérision "les camelots du Roi". Les jeunes militants d’AF relevèrent le défi et adoptèrent cette appellation.

La vente du journal à la criée, depuis lors, a toujours été la tâche essentielle des Camelots du Roi. Elle contribue à la diffusion des idées royalistes dans le grand public, mais elle est aussi l’école du militantisme. C’est en vendant le journal que le propagandiste apprend à affronter l’adversaire, à discuter avec le sympathisant, à s’astreindre à une discipline librement consentie.</p></div>

<% include foot %>