<% include head %>

<% if(tuiles) { %><% include militez_tuiles %><% } %>

<div id="evenements">
	<div class="button"><span>Carrefour Royal</span></div>
	<div id="evenement">
		<div class="img_container"><img class="image_evenement" src="/campagnes/jeanne_2014/affiche" /></div>
		<div class="titres">
			<h1><%= campagne.type %></h1>
			<h2><%= campagne.nom %></h2>
			<% if(campagne.editions) { %><div id="edition">
				<a href="#jeanne_2013">Edition 2013</a>
				<h3><%= campagne.editions.actuelle %></h3>
				<a href="#jeanne_2015">Edition 2015</a>
			</div><% } %>
		</div>
		<article><%- campagne.description %></article>
		<div class="ss_titre"><h3>Photos</h3></div>
		<div id="photos" class="viewer_elements">
			<img src="/campagnes/jeanne_2014/img1" />
			<img src="/campagnes/jeanne_2014/img2" />
			<img src="/campagnes/jeanne_2014/img3" />
			<img src="/campagnes/jeanne_2014/img4" />
			<img src="/campagnes/jeanne_2014/img5" />
			<img src="/campagnes/jeanne_2014/img6" />
		</div>
	</div>
	<div class="button"><span>CMRDS 2014</span></div>
</div>

<% include viewer %>
	
<script>
	$(window).scroll(function() {
		$('#evenements div.button').css('top', $(this).scrollTop() + 5);
	});
</script>

<% include foot %>