<% include head %>

<% include militez_tuiles %>

<input type="text" id="filtrer" placeholder="Filtrer" />

<div class="texte" id="texte_1">
<a href=""><img class="image_auteur" src="/profil/charles_maurras/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_2">
<a href=""><img class="image_auteur" src="/profil/pierre_boutang/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Royauté et libertés renaîtront de concert</h1>
		<p>Quoi qu’on ait prétendu, cet espoir d’une renaissance française n’est point une chimère, </p>	
	</div>
</div>

<div class="texte" id="texte_3">
<a href=""><img class="image_auteur" src="/profil/thierry_maulnier/photo" /></a>
	<div class="texte_texte">
		<h1>Bilan de la république</h1>
		<p>C’est au résultat que l’on juge un mode de gouvernement. </p>	
	</div>
</div>

<div class="texte" id="texte_4">
<a href=""><img class="image_auteur" src="/profil/charles_maurras/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Je suis Romain !</h1>
		<p>Je suis Romain, parce que Rome, dès le consul Marius et le divin Jules, jusqu’à Théodose, ébaucha la première configuration de ma France.</p>	
	</div>
</div>

<div class="texte" id="texte_5">
<a href=""><img class="image_auteur" src="/profil/thierry_maulnier/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Effets du libéralisme</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_6">
<a href=""><img class="image_auteur" src="/profil/leon_daudet/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_1">
<a href=""><img class="image_auteur" src="/profil/charles_maurras/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_2">
<a href=""><img class="image_auteur" src="/profil/charles_maurras/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Royauté et libertés renaîtront de concert</h1>
		<p>Quoi qu’on ait prétendu, cet espoir d’une renaissance française n’est point une chimère, </p>	
	</div>
</div>

<div class="texte" id="texte_3">
<a href=""><img class="image_auteur" src="/profil/jacques_bainville/photo" /></a>
	<div class="texte_texte">
		<h1>Bilan de la république</h1>
		<p>C’est au résultat que l’on juge un mode de gouvernement. </p>	
	</div>
</div>

<div class="texte" id="texte_4">
<a href=""><img class="image_auteur" src="/profil/charles_maurras/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Je suis Romain !</h1>
		<p>Je suis Romain, parce que Rome, dès le consul Marius et le divin Jules, jusqu’à Théodose, ébaucha la première configuration de ma France.</p>	
	</div>
</div>

<div class="texte" id="texte_5">
<a href=""><img class="image_auteur" src="/profil/pierre_boutang/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Effets du libéralisme</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_6">
<a href=""><img class="image_auteur" src="/profil/leon_daudet/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_6">
<a href=""><img class="image_auteur" src="/profil/leon_daudet/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_1">
<a href=""><img class="image_auteur" src="/profil/charles_maurras/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_2">
<a href=""><img class="image_auteur" src="/profil/charles_maurras/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Royauté et libertés renaîtront de concert</h1>
		<p>Quoi qu’on ait prétendu, cet espoir d’une renaissance française n’est point une chimère, </p>	
	</div>
</div>

<div class="texte" id="texte_3">
<a href=""><img class="image_auteur" src="/profil/jacques_bainville/photo" /></a>
	<div class="texte_texte">
		<h1>Bilan de la république</h1>
		<p>C’est au résultat que l’on juge un mode de gouvernement. </p>	
	</div>
</div>
<div class="texte" id="texte_6">
<a href=""><img class="image_auteur" src="/profil/leon_daudet/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_1">
<a href=""><img class="image_auteur" src="/profil/charles_maurras/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">La république, la machine à mal faire</h1>
		<p>En République, nous ne vivons pas dans le domaine des raisons délibérées et réfléchies, mais dans l’ordre des causes brutes.</p>	
	</div>
</div>

<div class="texte" id="texte_2">
<a href=""><img class="image_auteur" src="/profil/jacques_bainville/photo" /></a>
	<div class="texte_texte">
		<h1 class="titre_texte">Royauté et libertés renaîtront de concert</h1>
		<p>Quoi qu’on ait prétendu, cet espoir d’une renaissance française n’est point une chimère, </p>	
	</div>
</div>

<div class="texte" id="texte_3">
<a href=""><img class="image_auteur" src="/profil/jacques_bainville/photo" /></a>
	<div class="texte_texte">
		<h1>Bilan de la république</h1>
		<p>C’est au résultat que l’on juge un mode de gouvernement. </p>	
	</div>
</div>


<% include foot %>