<% include head %>
<div id="titre"><h1>Organigramme</h1></div>

<div id="organigramme">
	<div class="ligne">
		<div class="organe" id="comite_directeur" onclick="expand(this);">
			<span><h2>Comité directeur</h2>
			<p>Instance de conseil et d'arbitrage</p></span>
			<div class="membres">
				<div class="ligne">
					<div class="personne dirigeant">
						<img src="/images/organigramme/auteur_1.jpg" />
						<h1>Stéphane Blanchonet</h1>
						<h2>Président du Comité Directeur d'AF</h2>
						<div><p>Texte description</p></div>
					</div>
				</div>
				<div class="ligne">
					<div class="personne">
						<img src="/images/organigramme/auteur_2.jpg" />
						<h1>Olivier Perceval</h1>
						<div><p>Texte description</p></div>
					</div>
					<div class="personne">
						<img src="/images/organigramme/default.png" />
						<h1>Elie Hatem</h1>
						<div><p>Texte description</p></div>
					</div>
					<div class="personne">
						<img src="/images/organigramme/default.png" />
						<h1>Michel Bracciali</h1>
						<div><p>Texte description</p></div>
					</div>
					<div class="personne">
						<img src="/images/organigramme/default.png" />
						<h1>Marie-Gabrielle Pujo</h1>
						<div><p>Texte description</p></div>
					</div>
					<div class="personne">
						<img src="/images/organigramme/default.png" />
						<h1>François Bel-Ker</h1>
						<div><p>Texte description</p></div>
					</div>
					<div class="personne">
						<img src="/images/organigramme/default.png" />
						<h1>Michel Michel</h1>
						<div><p>Texte description</p></div>
					</div>
					<div class="personne">
						<img src="/images/organigramme/default.png" />
						<h1>Michel Fransceschetti</h1>
						<div><p>Texte description</p></div>
					</div>
					<div class="personne">
						<img src="/images/organigramme/default.png" />
						<h1>Bernard Bonnaves</h1>
						<div><p>Texte description</p></div>
					</div>
				</div>
				<button class="collapse" type="button" onclick="collapse('comite_directeur');">Fermer</button>
			</div>
		</div>
	</div>
	<div id="fleche_comite_bureau" class="ligne">
		<img src="/images/organigramme/fleche_bas.png" />
	</div>
	<div class="ligne">
		<div class="organe" onclick="expand(this);" id="bureau_politique">
			<span><h2>Bureau politique</h2>
			<p>Emanation opérationnelle du Comité directeur</p></span>
			<div class="membres">
				<div class="ligne">
					<div class="personne">
						<img src="/images/organigramme/auteur_1.jpg" />
						<h1>Stéphane Blanchonet</h1>
						<h2>Président du Comité Directeur d'AF</h2>
						<div><p>Texte description</p></div>
					</div>
					<div class="personne">
						<img src="/images/organigramme/auteur_2.jpg" />
						<h1>Olivier Perceval</h1>
						<div><p>Texte description</p></div>
					</div>
					<div class="personne">
						<img src="/images/organigramme/default.png" />
						<h1>François Bel-Ker</h1>
						<div><p>Texte description</p></div>
					</div>
					<div class="personne">
						<img src="/images/organigramme/default.png" />
						<h1>Louis-Charles Bonnaves</h1>
						<div><p>Texte description</p></div>
					</div>
				</div>
				<button class="collapse" type="button" onclick="collapse('bureau_politique');">Fermer</button>
			</div>
		</div>
	</div>
	<div class="ligne">
		<a href="/organigramme/craf"><div class="organe" id="mouvement">
			<span><h2>Centre Royaliste d'Action Française</h2>
			<p>Le mouvement</p></span>
		</div></a>
		<div id="fleche_bureau_journal_mouvement"><img src="/images/organigramme/fleche_bas_gd.png" /></div>
		<a href="/organigramme/journal"><div class="organe" id="journal">
			<span><h2>AF 2000</h2>
			<p>Le journal</p></span>
		</div></a>
	</div>
</div>

<script>
	function expand(who) {
		who.className = "organe expanded";
	}

	function collapse(who) {
		setTimeout(function(){ document.getElementById(who).className = "organe" }, 10);
	}
</script>

<% include foot %>