<% include head %>

<div id="organigramme">
	<div class="ligne">
		<div class="organe" id="comite_directeur" onclick="expand(this);">
			<span><h2>Comité directeur</h2>
			<p>Instance de conseil et d'arbitrage</p></span>
			<div class="membres">
				<div class="ligne">
					<div class="personne dirigeant" data-profil="stephane_blanchonnet"></div>
					<div class="personne" data-profil="olivier_perceval"></div>
					<div class="personne" data-profil="elie_hatem"></div>
					<div class="personne" data-profil="michel_bracciali"></div>
					<div class="personne" data-profil="marie_gabrielle_pujo"></div>
					<div class="personne" data-profil="francois_bel_ker"></div>
					<div class="personne" data-profil="michel_michel"></div>
					<div class="personne" data-profil="michel_franceschetti"></div>
					<div class="personne" data-profil="bernard_bonnaves"></div>
					<div class="personne" data-profil="francois_marcilhac"></div>
				</div>
				<button class="collapse" type="button" onclick="collapse(this);">Fermer</button>
			</div>
		</div>
	</div>
	<div id="fleche_bas" class="ligne"></div>
	<div class="ligne">
		<div class="organe" onclick="expand(this);" id="bureau_politique">
			<span><h2>Bureau politique</h2>
			<p>Emanation opérationnelle du Comité directeur</p></span>
			<div class="membres">
				<div class="ligne">
					<div class="personne dirigeant" data-profil="francois_bel_ker"></div>
					<div class="personne" data-profil="olivier_perceval"></div>
					<div class="personne" data-profil="stephane_blanchonnet"></div>
					<div class="personne" data-profil="louis_charles_bonnaves"></div>
					<div class="personne" data-profil="francois_marcilhac"></div>
				</div>
				<button class="collapse" type="button" onclick="collapse(this);">Fermer</button>
			</div>
		</div>
	</div>
	<div class="ligne">
		<a href="/organigramme/craf"><div class="organe" id="mouvement">
			<span><h2>Centre Royaliste d'Action Française</h2>
			<p>Le mouvement</p></span>
		</div></a>
		<div id="fleche_bureau_journal_mouvement"><div></div></div>
		<a href="/organigramme/journal"><div class="organe" id="journal">
			<span><h2>AF 2000</h2>
			<p>Le journal</p></span>
		</div></a>
	</div>
</div>

<% include organigramme_script %>

<% include foot %>