<% include head %>

<div id="titre">
		<h1>Organigramme</h1></div>
		 <div id="organigramme">
			<div id="etage1">
				<div id="tuile" class="personne1">
					<img src="images/auteur_1.jpg" />
					<h1>Stéphane Blanchonet</h1>
					<h2>Président du Comité Directeur d'AF</h2>
				</div>
			</div></br>
			<div id="etage2">
				<div id="tuile" class="personne2">
					<img src="images/auteur_2.jpg" />
					<h1>Olivier Perceval</h1>
					<h2>Secrétaire Général</h2>
				</div>
				<div id="tuile" class="personne3">
					<img src="images/auteur_4.jpg" />
					<h1>Romain Hellouin</h1>
					<h2>Secrétaire Général Adjoint</h2>
				</div>
			</div></br>
			<div id="etage3">
				<div id="tuile" class="personne4">
					<img src="images/auteur_3.jpg" />
					<h1>Giovanni Castelluccio</h1>
					<h2>Trésorier</h2>
				</div>
				<div id="tuile" class="personne5">
					<img src="images/auteur_5.jpg" />
					<h1>Marie-Suzanne de Benque d’Agut</h1>
					<h2>Secrétaire Administratif</h2>
				</div>
				<div id="tuile" class="personne6">
					<img src="images/auteur_6.jpg" />
					<h1>Marc Savina</h1>
					<h2>Formation</h2>
				</div>
			</div></br>
			<div id="etage4">
				<div id="tuile" class="personne7">
					<img src="images/auteur_7.jpg" />
					<h1>Philippe Castelluccio</h1>
					<h2>Provinces</h2>
				</div>
				<div id="tuile" class="personne8">
					<img src="images/auteur_8.jpg" />
					<h1>Jean-Baptiste de l’Aviath</h1>
					<h2>Militantisme</h2>
				</div>
				<div id="tuile" class="personne9">
					<img src="images/auteur_9.jpg" />
					<h1>François Bel-Ker</h1>
					<h2>Responsable Opérationnel</h2>
				</div>
				<div id="tuile" class="personne10">
					<img src="images/auteur_10.jpg" />
					<h1>François Marcilhac</h1>
					<h2>Directeur politique</h2>
				</div>
				<div id="tuile" class="personne11">
					<img src="images/auteur_11.jpg" />
					<h1>Arnaud Duroyaume</h1>
					<h2>Responsable Communication</h2>
				</div>
			</div></br>
			<div id="etage5">
				<div id="tuile" class="personne12">
					<img src="images/province_idf.png" />
					<h1>AF Ile-de-France</h1>
					<h2>Paris</h2>
				</div>
				<div id="tuile" class="personne13">
					<img src="images/province_bretagne.png" />
					<h1>AF Bretagne</h1>
					<h2>Rennes</h2>
				</div>
				<div id="tuile" class="personne14">
					<img src="images/province_guyenne.png" />
					<h1>AF Guyenne</h1>
					<h2>Bordeaux</h2>
				</div>
				<div id="tuile" class="personne15">
					<img src="images/province_normandie.png" />
					<h1>AF Normandie</h1>
					<h2>Caen</h2>
				</div>
				<div id="tuile" class="personne16">
					<img src="images/province_vendee.png" />
					<h1>AF Vendée</h1>
					<h2>Laval</h2>
				</div>
				<div id="tuile" class="personne17">
					<img src="images/province_lorraine.png" />
					<h1>AF Lorraine</h1>
					<h2>Metz</h2>
				</div>
				<div id="tuile" class="personne18">
					<img src="images/province_provence.png" />
					<h1>AF Provence</h1>
					<h2>Aix-en-Provence</h2>
				</div>
				<div id="tuile" class="personne19">
					<img src="images/province_auvergne.png" />
					<h1>AF Auvergne</h1>
					<h2>Aurillac</h2>
				</div>
			</div></br>

		 </div>
<% include foot %>