<% include head %>

<div id="organigramme">
	<% include organigramme_instancessuperieures %>
	<div id="fleche_bas" class="ligne"></div>
	<div class="ligne">
		<div class="organe noexpansion" id="priep">
			<span>
				<h2>PRIEP</h2>
				<p>Société éditrice du journal</p>
			</span>
		</div>
	</div>
	<div id="fleche_bas" class="ligne"></div>
	<div class="ligne">
		<div class="organe" id="af2000" onclick="expand(this);">
			<span>
				<h2>Direction</h2>
				<p>Contrôle administratif et éditorial du journal</p>
			</span>
			<div class="membres">
				<div class="ligne">
					<div class="personne dirigeant" data-profil="marielle_pujo"></div>
					<div class="personne dirigeant" data-profil="francois_marcilhac"></div>
					<div class="personne dirigeant" data-profil="philippe_mesnard"></div>
				</div>
				<div class="ligne">
					<div class="personne" data-profil="gregoire_dubost"></div>
				</div>
				<button class="collapse" type="button" onclick="collapse(this);">Fermer</button>
			</div>
		</div>
	</div>
	<div id="fleche_bas" class="ligne"></div>
	<div class="ligne">
		<div class="organe noexpansion" id="comite_redaction">
			<span>
				<h2>Comité de rédaction</h2>
				<p>Sélection des articles à paraître</p>
			</span>
		</div>
	</div>
	<div id="fleche_bas" class="ligne"></div>
	<div class="ligne">
		<div class="organe noexpansion" id="redacteurs">
			<span>
				<h2>Rédacteurs</h2>
				<p>Contributeurs réguliers ou occasionnels du journal</p>
			</span>
		</div>
	</div>
</div>

<% include organigramme_script %>

<% include foot %>