<% include head %>

<div id="organigramme">
	<div class="ligne">
		<div class="organe" id="comite_directeur" onclick="expand(this);">
			<span><h2>Comité directeur</h2>
			<p>Instance de conseil et d'arbitrage</p></span>
			<div class="membres">
				<div class="ligne">
					<div class="personne dirigeant" data-profil="stephane_blanchonnet"></div>
					<div class="personne" data-profil="olivier_perceval"></div>
					<div class="personne" data-profil="elie_hatem"></div>
					<div class="personne" data-profil="michel_bracciali"></div>
					<div class="personne" data-profil="marie_gabrielle_pujo"></div>
					<div class="personne" data-profil="francois_bel_ker"></div>
					<div class="personne" data-profil="michel_michel"></div>
					<div class="personne" data-profil="michel_franceschetti"></div>
					<div class="personne" data-profil="bernard_bonnaves"></div>
				</div>
				<button class="collapse" type="button" onclick="collapse('comite_directeur');">Fermer</button>
			</div>
		</div>
	</div>
	<div id="fleche_bas" class="ligne">
		<!--<img src="/images/organigramme/fleche_bas.png" />-->
	</div>
	<div class="ligne">
		<div class="organe" onclick="expand(this);" id="bureau_politique">
			<span><h2>Bureau politique</h2>
			<p>Emanation opérationnelle du Comité directeur</p></span>
			<div class="membres">
				<div class="ligne">
					<div class="personne dirigeant" data-profil="olivier_perceval"></div>
					<div class="personne" data-profil="stephane_blanchonnet"></div>
					<div class="personne" data-profil="francois_bel_ker"></div>
					<div class="personne" data-profil="louis_charles_bonnaves"></div>
				</div>
				<button class="collapse" type="button" onclick="collapse('bureau_politique');">Fermer</button>
			</div>
		</div>
	</div>
	<div class="ligne">
		<a href="/organigramme/craf"><div class="organe" id="mouvement">
			<span><h2>Centre Royaliste d'Action Française</h2>
			<p>Le mouvement</p></span>
		</div></a>
		<div id="fleche_bureau_journal_mouvement"><div id="gauche"></div><div id="droite"></div></div>
		<a href="/organigramme/journal"><div class="organe" id="journal">
			<span><h2>AF 2000</h2>
			<p>Le journal</p></span>
		</div></a>
	</div>
</div>

<script>
	function expand(who) {
		who.className = "organe expanded";
	}

	function collapse(who) {
		setTimeout(function(){ document.getElementById(who).className = "organe" }, 10);
	}

	$(function() {
		$('.personne').each(function() {
			var div = this;
			$.get("/profil/" + div.dataset.profil, function( data ) {
				$(div).html($.trim(data));
			});
		});
	})
</script>

<% include foot %>