<div class="organe" id="secretariat" onclick="expand(this);">
	<div>
		<h2>Secrétariat</h2>
		<p>Gestion administrative du mouvement</p>
	</div>
	<div class="membres">
		<div class="ligne">
			<div class="personne" data-profil="odile_veron"></div>
			<div class="personne" data-profil="marie_suzanne_de_benque_d_agut"></div>
		</div>
		<div class="ligne">
			<div class="personne" data-profil="blanche_pupion"></div>
		</div>
		<button class="collapse" type="button" onclick="collapse(this);">Fermer</button>
	</div>
</div>