<% include head %>

<div id="organigramme">
	<% include organigramme_instancessuperieures %>

	<div class="ligne" id="secretariats">
		<% include organigramme_craf_secretariatgeneral %>
		<div id="fleche_secretariats"><div></div></div>
		<% include organigramme_craf_secretariat %>
	</div>
	<div class="ligne" id="ligne_fleche_centrale">
		<div></div>
	</div>
	<div class="ligne">
		<div id="fleche_com_sections"></div>
	</div>
	<div class="ligne" id="com_sections">
		<div class="organe" id="communication" onclick="expand(this);">
			<div>
				<h2>Communication</h2>
				<p>Contrôle de l'image de l'AF</p>
			</div>
			<div class="membres">
				<div class="ligne">
					<div class="personne" data-profil="arnaud_paris"></div>
				</div>
				<button class="collapse" type="button" onclick="collapse(this);">Fermer</button>
			</div>
		</div>
		<div class="organe" id="sections" >
			<a href="/carte"><div>
				<h2>Les sections</h2>
				<p>Direction locale de l'AF</p>
			</div></a>
		</div>
	</div>
</div>

<% include organigramme_script %>

<% include foot %>