<div class="organe" id="secretariat_general" onclick="expand(this);">
	<span>
		<h2>Secrétariat général</h2>
		<p>Instance de direction du mouvement</p>
	</span>
	<div class="membres">
		<div class="ligne">
			<div class="personne dirigeant" data-profil="olivier_perceval"></div>
			<div class="personne" data-profil="antoine_desonay"></div>
		</div>
		<br/>
		<div class="ligne">
			<div class="personne" data-profil="francois_bel_ker"></div>
			<div class="personne" data-profil="pierre_marchand"></div>
		</div>
		<br/>
		<button class="collapse" type="button" onclick="collapse(this);">Fermer</button>
	</div>
</div>