<style>
	#rss form {
		display: table;
	}

	#rss form > * {
		display: table-row;
	}

	#rss form > * > * {
		display: table-cell;
	}
</style>

<div id="rss">
	<h2>Flux RSS</h2>
	<p>Créez votre flux RSS personnalisé en fonction des informations que vous souhaitez voir</p>

	<form name="rss" action="/rss" method="post">
		<label><input type="checkbox" name="campagnes" /> Evenements/Campagnes</label>
		<label><input type="checkbox" name="articles" /> Articles publiés</label>
		<label><input type="checkbox" name="visuels" /> Nouveaux visuels</label>
		<label><input type="checkbox" name="videos" /> Nouvelles vidéos</label>
		<label><input type="checkbox" name="textes" /> Publication de textes</label>
		<button type="submit">S'abonner</button>
	</form>
</div>