<aside>
  <div class="icone_rectangle"><a href="/adherer"><img src="/style/images/adherer.png"/></a></div>
  <div class="icone_rectangle"><a href="/dons"><img src="/style/images/dons.png"/></a></div>
  <div class="icone_rectangle"><a href="/carte"><img src="/style/images/afchezmoi.png"/></a></div>
  <div class="icone_rectangle"><a href="http://www.actionfrancaise.net/af2000/"><img src="/style/images/AF2000.png" /></a></div>
  <div class="icone_rectangle"><a href="http://www.librairie-de-flore.fr/"><img src="/style/images/boutique.png" /></a></div>
  <div class="icone_rectangle" id="random"></div>

  <script>
    $(function() {
      $.get('/media/visuels/random', function(data) {
        $("#random").html('<a href="/media#' + data + '"><img src="/media/visuels/' + data + '" /></a>');
      });
    });
  </script>

  <div id="adresse_craf">
    <img src="/style/images/fleur-lys-craf.png"/>
    <h3>Centre Royaliste d'Action Française<br/>
	  10 rue Croix-des-Petits-Champs<br/>
      75001 PARIS<br/>
      contact@actionfrancaise.net</h3>
  </div>
</aside>