<div id="slideshow">
    <div>
        <div id="slider"></div>  
    </div>
</div>

<script>
    var current = 0;
    var reverse = false;
    var interval = null;
    var slide_width = 1020;

    var slider = $('#slider');

    function showNext() {
        interval = setInterval(function(){
            slider.animate({marginLeft:-slide_width},1200,function(){
                $(this).css({marginLeft:0}).find("figure:last").after($(this).find("figure:first"));
            })
        }, 5000);
    }

    $(function() {
        $.get('/slideshow', function(data) {
            data.forEach(function(slide) {
                slider.append('<figure><img src="/slideshow/' + slide + '" /></figure>');
            });

            slider.css("width", slide_width * slider.find('figure').length);
            showNext();
        });    
    });
</script>