<div id="slideshow">  
    <div onmouseover="setPause(true);" onMouseOut="setPause(false);">
        <div id="slider"></div>  
    </div>
</div>

<script>
    var current = 0;
    var reverse = false;
    var interval = null;
    var slide_width = 1020;

    function nextSlide() {
        if(current == 0) reverse = false;
        else if(current == $('#slider figure').length - 1) reverse = true;

        return reverse ? current -- : current ++;
    }

    function showNext() {
        interval = setInterval(function() {
            $('#slider').css('left', -slide_width * nextSlide());
        }, 5000);
    }

    function setPause(value) {
        if(value) clearInterval(interval);
        else showNext();
    }

    $(function() {
        $.get('/slideshow', function(data) {
            data.forEach(function(slide) { 
                $('#slider').append('<figure><img src="/slideshow/' + slide + '" /></figure>');
            });

            $('#slider').css("width", slide_width * $('#slider figure').length);

            showNext();

            $(window).blur(function() { clearInterval(interval); });
            $(window).focus(showNext);
        });    
    });
</script>