article {
    display:inline-block;
    vertical-align:top;
    text-align:left;
    color:#292927;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width:77%;
    height:100%;
    background-color:#ece9e9;
}
 
article .image_article {
    width:45%;
    float:left;
    margin-right: 10px;
  
}

article h1, #auteur h1 {
    font-size:16px;
    margin:10px;
}

article .titre_article {
    font-size:16px;
    margin-left:10px;
}

article p, #auteur p {
    font-size:12px;
    margin:10px;
}

article h2 {
    margin:10px;
}


section > aside {
    position: relative;
    float: left;
    display:inline-block;
    vertical-align:top;
    width:15%;
    min-width:70px;
}

#auteur {
    text-align: center;
    color: white;
    background-color: #9f2020;
    word-wrap: break-word;
}

#auteur a {
    text-decoration: none;
    color: white;
}

#auteur h2 {
    margin-left: 5px;
}

#auteur img {
    width: 100%;
}

#auteur p {
    text-align: justify;
}

#partage {
    text-align: left;
    color: white;
    background-color:#0D1C42;
    word-wrap: break-word;
    display: table;
    width: 100%;
}

#partage img {
    height:15px;
    margin:5px;
    vertical-align: middle;
}

#partage a > * {
    display: table-cell;
}

#partage a {
    display: block;
    width: 100%;
    color:white;
    vertical-align:middle;
    text-decoration: none;
    color:white;
    display: table-row;
}

#partage a.facebook:hover {
    background-color: #3B5998;
}

#partage a.twitter:hover {
    background-color: #56A3D9;
}

#partage a.plus:hover {
    background-color: #DB2D24;
}