.article {
    display:inline-block;
    vertical-align:top;
    text-align:left;
    color:#292927;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    width:77%;
    height:100%;
    background-color:#ece9e9;
}
 
.article .image_article {
    width:45%;
    float:left;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.article .image_article:hover {
	filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
}

.article h1, #auteur h1 {
    font-size:16px;
    margin:10px;
}

.article .titre_article {
    font-size:16px;
    margin-left:10px;
}

.article p, #auteur p {
    font-size:12px;
    margin:10px;
}

.article h2 {
    margin:10px;
}

#auteur {
    position: relative;
    float: left;
    display:inline-block;
    vertical-align:top;
    text-align: center;
    color: white;
    width:15%;
    background-color: #9f2020;
    word-wrap: break-word;
    min-width:70px;
}

#auteur h2 {
    margin-left: 5px;
}

#auteur img {
    width: 100%;
}

#auteur p {
    text-align: justify;
}

.article .article_partage {
    width:55%;
    text-align:left;
    background-color:#9f2020;
    display:inline-block;
    vertical-align:top;
}

.article .article_partage img {
    height:15px;
    margin:5px;
    vertical-align: middle;
}

.article .article_partage a {
    color:white;
    vertical-align:middle;
    text-decoration: none;
    color:white;
}