

section .etage{
margin-bottom:20px;
height:400px;


}
 section .article{
 display:inline-block;
 vertical-align:top;
 text-align:left;

 color:#292927;
 white-space: normal;
  margin:2px;
margin-top: 20px;

 width:22.5%;
 height:400px;
max-width: 400px;
min-width: 200px;
 background-color:#ece9e9;
 }
 
section .image_article{
width:100%;
max-width: 400px;
  -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;

}
section .image_article:hover{

}
section #texte_article{
height:50%;
overflow: hidden;
text-overflow: ellipsis;
}
section h1{
font-size:16px;
margin:5px;
}
section .titre_article{
font-size:16px;
margin:5px;}

section p{
font-size:12px;
margin:5px;}

section h2, section h3 {
margin:5px;
}

section h2{
font-size:12px;
}

 #lire_la_suite{
position:relative;
bottom:5px;
width:100%;
margin-top:5px;
line-height: 16px;

}
#lire_la_suite h1{

display:inline-block;
float:left;
text-decoration:none;
color:black;
}
#lire_la_suite img{
position:relative;
bottom:0px;
right:5px;
display:inline-block;
margin-left:10px;
width:30px;
}

section .evenement{
 display:inline-block;
 vertical-align:top;
 text-align:left;
 color:#292927;
 white-space: normal;
 margin-top:2px;
 margin-left: -12px;
 width:22%;
 height:400px;
max-width: 400px;
min-width: 200px;

 }
 #alaune{
width:100%;
margin-left: auto;
margin-right: auto;

 }

#alaune h1{
    text-align: left;
    font-size: 20px;
margin-left: 45px;
}
.image_evenement{
 display: inline-block;

    float: right;
    width:100%;
    max-height: 400px;

}
.description_evenement{
display: inline-block;
text-align: center;

background-color:#1d3674;
width: 100%;
height:15%;
margin-bottom: 10px;
    }

.description_evenement a{
text-decoration: none;
color:white;}

.description_evenement h2{
    font-size: 15px;
}

.video{ 


            -moz-box-shadow: 0px 0px 2px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
    -o-box-shadow: 0px 0px 2px #000;
    -ms-box-shadow: 0px 0px 2px #000;
    box-shadow: 0px 0px 2px #000;
    display:inline-block; 
    margin:2px;


 white-space: normal;
padding: 5px;


}
#videodumoment{
    
 vertical-align:top;
 text-align:left;


 width:45%;
 height:400px;

min-width: 200px;

}

#alaune iframe{
    width:100%;
    height: 100%;
}
#videossecondaires{
 display:inline-block;
 vertical-align:top;
 text-align:left;

 color:#292927;
 white-space: normal;


 width:22%;
 height:400px;
max-width: 400px;
min-width: 200px;
}
#video1,#video2{
    height:48%;
    width:100%;
    margin-bottom: 2px;}


#slideshow {  
display: inline-block;
    position: relative;  
    width: 100%;  
    height: 310px;  
   
margin-right: auto;
margin-left: auto; 
 margin-top: 3px;
 margin-bottom: 0px;

 
    /* CSS3 effects */  
    
}  
   
/* avanced box-shadow 
 * tutorial @ 
 * http://www.creativejuiz.fr/blog/les-tutoriels/ombre-avancees-avec-css3-et-box-shadow  
*/  

  

/* gestion des dimensions et débordement du conteneur */  
#slideshow .container {  
    position:relative;  
    width: 92%;  
    height: 105%;  
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;  

}  
        

 
/* on prévoit un petit espace gris pour la timeline */  

/*  
   le conteneur des slides 
   en largeur il fait 100% x le nombre de slides 
*/  
#slideshow .slider {  
    position: absolute;  
    left:0; top:0;  
    width: 400%;  
       background-color: #e4e7e9;
}  
  
/* annulation des marges sur figure */  
#slideshow figure {  
    position:relative;  
    width:25%;
    height: 100%;
    display:inline-block;  
    padding:0; margin:0;  
}  

#slideshow img{

height: 100%;
  box-shadow: 2px 4px 13px #333;  
}
/* petit effet de vignette sur les images */  
#slideshow figure:after {  
    position: absolute;  
    display:block;  
    content: " ";  
    top:0; left:0;  
    width: 100%; height: 100%;  

}  


/* styles de nos légendes  
#slideshow figcaption {  
    position:absolute;  
    right:31px; top: 0;
    height:100%;  
    padding: 20px;  
    margin:0;  
   
    text-align:center;  
    letter-spacing: 0.05em;  
    word-spacing: 0.05em;  
    font-family: Georgia, Times, serif;  
    background: #fff;  
    background: rgba(255,255,255,0.7);  
    color: #555;  
    text-shadow: -1px -1px 0 rgba(255,255,255,0.3);  
}  
/* fonction d'animation, n'oubliez pas de prefixer ! */  
@keyframes slider {  
    0%, 20%, 100%   { left: 0% }  
    25%, 45%        { left: -100% }  
    50%, 70%        { left: -200% }  
    75%, 95%        { left: -300% } }

@-moz-keyframes slider {  
    0%, 20%, 100%   { left: 0% }  
    25%, 45%        { left: -100% }  
    50%, 70%        { left: -200% }  
    75%, 95%        { left: -300% } }


@-webkit-keyframes slider {  
    0%, 20%, 100%   { left: 0% }  
    25%, 45%        { left: -100% }  
    50%, 70%        { left: -200% }  
    75%, 95%        { left: -300% }  
}  


/* complétez le sélecteur : */  
#slideshow .slider {  
    /* ... avec la propriété animation */  
     animation: slider 32s infinite;  
    -webkit-animation: slider 32s infinite;  
     -moz-animation: slider 32s infinite;  
}  


@-webkit-@keyframes timeliner {  
    0%, 25%, 50%, 75%, 100% { width: 0;     }  
    20%, 45%, 70%, 90%      { width: 950px; }  
}  

@-webkit-@keyframes figcaptionner {  
    0%, 25%, 50%, 75%, 100%                     { bottom: -55px;    }  
    5%, 20%, 30%, 45%, 55%, 70%, 80%, 95%       { bottom: 5px;      }  
} 
/* ajouter à l'élément : */  
#slideshow figcaption {  
    /* ... la propriété animation */  
    -webkit-animation: figcaptionner 12s infinite;  
}  