section{
width:60%;

	
}
#texte_manifeste hr {
	width: 88%;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;

}

#texte_manifeste{
    padding: 1px 50px 50px 50px;
    border: 1px dashed grey;
	text-align: left;
}

#titre_texte{

font-color: gray;
width:100%;
text-align: left;

}

#titre_texte h1{
  font-size:46px;  
}

#description{

	font-style:italic;
}