section{
    width:60%;
    border:8px solid grey;
    padding: 10px}

#manifeste div:first-child {
    padding: 1px 50px 50px 50px;
    border: 1px dashed grey;
	text-align: left;
}

#manifeste h1 {
    font-color: gray;
    width:100%;
    text-align: center;
    font-size: 32px;
}

#manifeste h2{
  font-size:46px;  
  text-align: left;
  text-indent: 45px;
  font-size: 24px;
}

#manifeste p {
	margin: 45px 0 20px;
	text-align: justify;
}

#manifeste ul li{
	text-align: left;
	margin-bottom: 10px;
}

em {
	font-style:italic;
}