section {
	margin-top:0px;
}

#visuels, #videos {
	display:inline-block;
	width:48%;
	float:left;
	vertical-align:top;
}

#visuels {
	margin-right:10px;
	-webkit-column-count: 3; 
	-moz-column-count: 3; 
	column-count: 3;
}

#videos {
	-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2;
}

#videos > div > img {
}

#videos > div {
	cursor: pointer;
	position: relative;
	vertical-align: top;
}

#videos > div > h2 {
	width: 100%;
	top: 45%;
	left: 0;
	position: absolute;
    color:white;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(180, 180, 180, 0.8);
}

#videos > div:hover > h2 {
    background-color: rgba(100, 100, 100, 1);
}

section iframe {
	width:100%;
}

section img {
	width: 100%;
	cursor: pointer;
}

#fullscreen {
	z-index: 100;
	width: 90vw;
	height: 90vh;
	display: none;
}