section {
	margin-top:0px;
}

#visuels, #videos {
	display:inline-block;
	width:48%;
	float:left;
	vertical-align:top;
}

#visuels {
	margin-right:10px;
	-webkit-column-count: 3; 
	-moz-column-count: 3; 
	column-count: 3;
}

#videos {
	-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2;
}

#videos > div {
	cursor: pointer;
}

section iframe {
	width:100%;
}

section img {
	width: 100%;
	filter: grayscale(100%);
	    -webkit-filter: grayscale(100%);
	    -moz-filter: grayscale(100%);
	    -ms-filter: grayscale(100%);
	    -o-filter: grayscale(100%);
}

section img:hover {
	filter: grayscale(0%);
	    -webkit-filter: grayscale(0%);
	    -moz-filter: grayscale(0%);
	    -ms-filter: grayscale(0%);
	    -o-filter: grayscale(0%);
}