#visuels, #videos {
	display:inline-block;
	width:48%;
	float:left;
	vertical-align:top;
}

#visuels {
	margin-right:10px;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

#videos {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;

}
#videos > div > img {
	height: 100%;
}

#videos > div {
	cursor: pointer;
	position: relative;
	vertical-align: top;
	height: 176px;
	width: 94%;
	padding: 2px;
	margin-left: 5px;
	margin-bottom: 10px;
	box-shadow: 0 0 2px #000;
}

#videos > div > h1 {
 position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color:#ece9e9;
     box-shadow: 0 0 5px #000;
  	color:#292927;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;

}

#videos iframe {
	width:100%;
	height: 176px;
}

section img {
	width: 100%;
	cursor: pointer;
}

#videos > div:hover > h2 {
    background-color: rgba(100, 100, 100, 1);
}