section{
margin-top:0px;
}

section #visuels{
display:inline-block;
column-count:3;
-webkit-column-count: 3; 
-moz-column-count: 3; 
column-count: 3;
width:48%;
margin-right:10px;
float:left;
vertical-align:top;
}
#videos{
display:inline-block;
vertical-align:top;
width:48%;
}
section iframe{
width:48%;
height:193px;
float:left;
margin:5px;
}



section div img{
width: 100%;

filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

section div img:hover{
filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}