#evenements {
	width: 100%;
}

#evenements > div.button {
	position: relative;
	top: 5px;
	width: 10%;
	height: 15%;
	min-height: 250px;
	border: none;
	opacity: 0.7;

	background-color: rgba(40, 40, 40, 0.7);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

#evenements > div.button:hover {
	background-color: rgba(40, 40, 40, 0.95);
	opacity: 0.95;
}

#evenements > div.button:first-child {
	background-image: url('/css/images/left_arrow2.png');
	float: left;
}

#evenements > div.button:last-child {
	background-image: url('/css/images/right_arrow.png');
	float: right;
}

#evenements > #evenement {
	width: 80%;
	float: left;
	margin-bottom: 45px;
}

#evenements > #evenement > * {
	margin: 5px 20px;
}

#evenement div.img_container {
	margin: 10px auto;
	background-color: #808080;
}

#evenement div.titres {
	background-color: #0D1C42;
	color: white;
	font-size: 1.4em;
}

#evenement div.titres h1 {
	font-size: 1.4em;
	text-transform: uppercase;
}

#evenement div.titres h2 {
	font-size: 1.4em;
}

#evenement div.titres a {
	text-decoration: none;
	font-weight: 900;
	color: white;
	font-size: 2em;
	padding: 5px;
}

#evenement div#edition > * {
	display: inline;
}

#evenement #photos
{
	-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2;
}

#evenement #photos img {
	width: 100%;
	cursor: pointer;
}