
.titre h1{
font-size:40px;
color:black;
width:100%;
}

.titre p{
	text-align: left;

}

.titre a{
	text-decoration: none;
	color:grey;
	font-size: 20px;
}
.carte{
	z-index: 1;
	display: inline-block;
	vertical-align: top;
	width:600px;
	height:693px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

.carte #fond{
	width:100%;

}

.carte .blason{
	z-index: 2;
position: relative;
width:16%;
	max-width:100px;
	border-radius: 0px 0px 47px 47px;
	    -moz-transition: filter 0.5s ease-in-out 0s;
    -webkit-transition: filter 0.5s ease-in-out 0s;
    -o-transition: filter 0.5s ease-in-out 0s;
    -ms-transition: filter 0.5s ease-in-out 0s;
    transition: filter 0.5s ease-in-out 0s;
     -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -ms-filter: sepia(100%);
  -o-filter: sepia(100%);
  filter: sepia(100%);
filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.343 0.669 0.119 0 0 0.249 0.626 0.130 0 0 0.172 0.334 0.111 0 0 0 0 0 1 0' /></filter></svg>#greyscale"); /* Firefox 4+ */
}
.carte .blason:hover{
	z-index: 3;
     -webkit-filter: sepia(0%);
  -moz-filter: sepia(0%);
  -ms-filter: sepia(0%);
  -o-filter: sepia(0%);
  filter: sepia(0%);
filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0' /></filter></svg>#greyscale");/* Firefox 4+ */
}

.carte #provence{
	bottom: 21%;
left: 76%;
}

.carte #idf{
	bottom:73%;
left: 30%;
}

.carte #bordeaux{
	bottom: 33%;
left: -6%;
}

.carte #angouleme{
	bottom: 45%;
left: -20%;
}
.carte #annecy{
	bottom: 42%;
left: 11%;
}
.carte #clermont{
	bottom: 42%;
left: -34%;
}
.carte #grenoble{
	bottom:50%;
left: 63%;
}
.carte #lyon{
	bottom: 64%;
left: 41%;
}

.carte #nantes{
	bottom: 77%;
left: -21%;
}
.carte #oise_picardie{
	bottom: 99%;
left: -8%;
}
.carte #rennes{
	bottom: 86%;
left: -58%;
}
#carte_complement{
	display: inline-block;
	vertical-align: top;

	width:30%;
	height: 300px;
	margin-top:110px;
	margin-left: 68px;
}
#description_sections{
border-radius: 5px;

            -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    -o-box-shadow: 0px 0px 5px #000;
    -ms-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
text-align: left;
	background-color: #ece9e9;
	width:100%;

	margin-top:10px;
}

#description_sections p{
	margin:5px;
}

#description_sections .blason_description {
width:100px;
float: left;
margin:5px;
}

#navigation_rapide{
	
border-radius: 5px;

            -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    -o-box-shadow: 0px 0px 5px #000;
    -ms-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
	background-color: #ece9e9;
	width:100%;
	height: 100px;
	margin-top:30px;	
}

#navigation_rapide h2{
	padding-top: 10px;
}

#navigation_rapide select{
	width:94%;
margin:10px;
padding:2px;
border:none;

font-family:Arial;
font-size:20px;
height:42px;
}

#suivre_section h2{
	margin-left: 5px;
	text-align:left; 
}

#suivre_section img{
	
	width:45px;
}

#suivre_section button{
	height:45px;
	width:100px;
	background-color: #2e3d60;
	color: white;
	text-transform: uppercase;
	border: none;
	margin-bottom: -10px;
}