#evenements {
	width: 88%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#evenements div.button {
	position: absolute;
	top: 5px;
	width: 10%;
	height: 250px;
	border: none;
	opacity: 0.7;
	color: black;
	background: no-repeat center;
	cursor: pointer;
}

#evenements div.button span{
	position: relative;
	top:225px;
	font-size: 12px;
	font-weight: bold;
}

#evenements div.button:hover {
	opacity: 0.95;
}

#evenements a:first-child div.button {
	background-image: url('/style/images/previous_action.png');
	left: 0;
}

#evenements a:last-child div.button {
	background-image: url('/style/images/next_action.png');
	right: 0;
}

#evenements > #evenement {
	display: inline-block;
	width: 80%;
	margin-bottom: 45px;
}

#evenements > #evenement > * {
	margin: 5px 20px;
}

#evenement div.img_container {
	margin: 10px auto;
  	background-image: linear-gradient(to left,#D1D7E6,#fff,#D1D7E6); 
	box-shadow: inset 1px 1px 12px #555;
}

#evenement div.img_container img{
	height:500px;
	box-shadow: 0 0 5px #555;
}


#evenement div.titres {
	background-color: #0D1C42;
	color: white;
	font-size: 1.4em;
}

#evenement div.titres h1 {
	font-size: 1.4em;
	text-transform: uppercase;
}

#evenement div.titres h2 {
	font-size: 1.4em;
}

#evenement div.titres a:first-child::before {
	content: "< "
}

#evenement div.titres a:last-child::after {
	content: " >"
}

#evenement div.titres a {
	text-decoration: none;
	font-weight: 900;
	color: white;
	font-size: 0.6em;
	padding: 5px;
}

#evenement div.titres a:hover {
	color: #FADA27;
}

#evenement div#edition > * {
	display: inline;
}

#evenement article {
	line-height: 22px;
	padding: 20px 0;
	text-align: justify;
}

#evenement div.ss_titre {
	display: block;
	background-color: #0D1C42;
	height: 35px;
	font-size: 1.5em;
	color: white;
}

#evenement #photos
{
	column-count: 3;
}

#evenement #photos img {
	width: 100%;
	cursor: pointer;
}