.titre h1 {
	font-size:40px;
	color:black;
	width:100%;
}

.titre p {
	text-align: left;
}

.titre a {
	text-decoration: none;
	color:grey;
	font-size: 20px;
}

#carte {
	position: relative;
	z-index: 1;
	display: inline-block;
	width:600px;
	height:693px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

#carte #fond {
	width:100%;
}

#carte .blason {
	position: absolute;
	width:80px;
	border-radius: 0px 0px 47px 47px;
	transition: filter 0.5s ease-in-out 0s;
	-webkit-filter: sepia(100%);
	-moz-filter: sepia(100%);
	-ms-filter: sepia(100%);
	-o-filter: sepia(100%);
	filter: sepia(100%);
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0' width='1'>\
		<filter id='greyscale'><feColorMatrix type='matrix' values='0.343 0.669 0.119 0 0 0.249 0.626 0.130 0 0 0.172 0.334 0.111 0 0 0 0 0 1 0' /></filter>\
		</svg>#greyscale");
	z-index: 998;
}

#carte .blason.section.federee {
	z-index: 1000 !important;
}

#carte .blason.federee:not(.visible) {
	display: none;
}

#carte .blason:hover {
	z-index: 1002 !important;
	cursor: pointer;
}

#carte .blason.active {
	z-index: 1001 !important;
}

#carte .blason.federation.active {
	background-color: rgba(50, 50, 50, 0.6);
	border-radius: 0;
	padding: 10px 50px 100px 50px;
	margin-bottom: -100px;
	margin-left: -50px;
	z-index: 999 !important;
}

#carte .blason.active, #carte .blason:hover {
	-webkit-filter: sepia(0%);
	-moz-filter: sepia(0%);
	-ms-filter: sepia(0%);
	-o-filter: sepia(0%);
	filter: sepia(0%);
	filter: url("data:image/svg+xml;utf8,\
		<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'>\
		<filter id='greyscale'><feColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0' /></filter>\
		</svg>#greyscale");
}

#carte_aside {
	display: inline-block;
	vertical-align: top;
	width:24%;
	min-width: 310px;
	height: 300px;
	margin-top:110px;
	margin-left: 45px;
	margin-right: 24px;
}

#details {
	text-align: left;
	background-color: #ece9e9;
	width:100%;
	margin-top:10px;
}

#details p {
	margin:5px;
}

#details .blason_description {
	width:100px;
	float: left;
	margin:5px;
}

#navigation_rapide {
	background-color: #ece9e9;
	width:100%;
	height: 100px;
	margin-top:30px;	
}

#navigation_rapide h2 {
	padding-top: 10px;
}

#navigation_rapide select {
	width:94%;
	margin:10px;
	padding:2px;
	border:none;
	font-family:Arial;
	font-size:20px;
	height:42px;
}

#suivre_section {
	margin: 5px auto;
	clear: both;
	text-align: right;
}

#suivre_section a img {
	margin-right: 2px;
	width:30px;
}

#suivre_section button {
	display: inline-block;
	vertical-align: top;
	height:45px;
	width:100px;
	background-color: #2e3d60;
	color: white;
	text-transform: uppercase;
	border: none;
}

#suivre_section button:hover {
	border:2px solid black;
	cursor: pointer;
}

#suivre_section img:hover{
	cursor: pointer;
}

#creermasection{
	background-color: #c63f10;
	display: inline-block;
	vertical-align: top;
	height:45px;
	width: 100%;
	margin-bottom: 10px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
}

#creermasection:hover {
	border:2px solid black;
}