#militer{
	display:inline-block;
	width:87%;
	margin: auto auto 5px;
	text-align:left;
	padding:5px;
}

#militer img{
	position: relative;
	height: 317px;
	width:101%;
	margin: -4px;
}

.ss_titre{
	background-color: #0D1C42;
	color: white;
	text-align: center;
	font-size: 1.4em;
}