.titre h1 {
	font-size:40px;
	color:black;
	width:100%;
}

.titre p {
	text-align: left;
}

.titre a {
	text-decoration: none;
	color:grey;
	font-size: 20px;
}

#carte {
	position: relative;
	z-index: 1;
	display: inline-block;
	width:600px;
	height:693px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}

#carte #fond {
	width:100%;
}

#carte .blason {
	position: absolute;
	width:80px;
	border-radius: 0 0 47px 47px;
	transition: filter 0.5s ease-in-out 0s;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0' width='1'>\
		<filter id='greyscale'><feColorMatrix type='matrix' values='0.343 0.669 0.119 0 0 0.249 0.626 0.130 0 0 0.172 0.334 0.111 0 0 0 0 0 1 0' /></filter>\
		</svg>#greyscale");
	z-index: 998;
}

#carte .blason.section.federee {
	z-index: 1000 !important;
}

#carte .blason.federee:not(.visible) {
	display: none;
}

#carte .blason:hover {
	z-index: 1002 !important;
	cursor: pointer;
}

#carte .blason.active {
	z-index: 1001 !important;
}

#carte .blason.federation.active {
	background-color: rgba(50, 50, 50, 0.6);
	padding: 10px 50px 100px 50px;
	margin-bottom: -100px;
	margin-left: -50px;
	z-index: 999 !important;
	border-radius: 10px;
}

#carte .blason.active, #carte .blason:hover {
	filter: url("data:image/svg+xml;utf8,\
		<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'>\
		<filter id='greyscale'><feColorMatrix type='matrix' values='1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0' /></filter>\
		</svg>#greyscale");
}

#carte_aside {
	display: inline-block;
	vertical-align: top;
	width:24%;
	min-width: 310px;
	height: 300px;
	margin-top:110px;
	margin-left: 45px;
	margin-right: 24px;
}

#details .entite {
	text-align: left;
	background-color: #ece9e9;
	width:100%;
	margin-top:10px;
	min-height: 150px;
}

#details .entite p {
	margin:5px;
}

#details .entite img {
	width:100px;
	float: left;
	margin:5px;
}

#details .contacts {
	margin: 5px auto;
	clear: both;
	text-align: right;
	display: inline-block;
}

#details .contacts a img:hover{
	cursor: pointer;
}

#details .contacts a img {
	margin-right: 2px;
	width:30px;
}

#creermasection{
	background-color: #c63f10;
	display: inline-block;
	vertical-align: top;
	height:45px;
	width: 100%;
	margin-bottom: 10px;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
}

#creermasection:hover {
	border:2px solid black;
}