#organigramme {
 	margin: 25px 0;
}

#organigramme div#journal, #organigramme div#mouvement {
	width: 33%;
	max-width: 300px;
	vertical-align: bottom;
}

#organigramme #fleche_bureau_journal_mouvement {
	width: 34%;
	max-width: 300px;
	height: 150px;
}

#organigramme #fleche_comite_bureau {
	height: 100px;
}

#organigramme .ligne {
	display: block;
	clear: both;
}

#organigramme .organe {
	min-height: 100px;
 	padding: 5px;
 	border : 1px solid black;
}

#organigramme .organe:hover {
	background-color: #1D3674;
	border-color: transparent;
	color: white;
	cursor: pointer;
}

#organigramme .organe span {
	display: inline-block;
	vertical-align: middle;
}

#organigramme .ligne div {
	display: inline-block;
}

#organigramme .organe .membres {
	height: 0;
	width: 0;
	overflow: hidden;
	display: block;

	transition-property: height, width;
	transition-duration: 1s;
	transition-timing-function: ease-out;
}

#organigramme .organe .membres .personne {
	height: 0;
	width: 0;
	overflow: hidden;
	display: inline-block;

	transition-property: height, width;
	transition-duration: 10ms;
	transition-delay: 1s;
}

#organigramme .organe:hover .membres {
	height: 100%;
	width: 100%;
}

#organigramme .organe:hover .membres .personne {
	height: 100%;
	width: 100%;
}