section{
margin-top:0;
}
 #organigramme #etage1{
 text-align:center;
 }
#organigramme #tuile {
display:inline-block;
vertical-align:top;
width:274px;
height:100px;
text-align:left;
color:white;
background-color:#ece9e9;
margin:2px;
 }
 
#organigramme #tuile:hover{
background-color:#203e84;} 
 
 #organigramme img {
height:100%;
float:left;
margin-right:10px;
 }
 #organigramme h1{
font-size:13px;
 }
 #organigramme h1,#organigramme h2{
margin:15px;
 }
 #organigramme .personne1 {
 margin-left:auto;
 margin-right:auto;
 }

 #sections #carte_france{
 width:500px;
 
 }
 
 #sections #province{
 position:absolute;
 height:100px;
 top:-100px;
 }
