section{
	margin-top:-40px;
}

#organigramme {
 	margin: 25px 0;
}

#organigramme a {
 	color: black;
}


#organigramme div#journal, #organigramme div#mouvement {
	width: 33%;
	max-width: 300px;
	vertical-align: bottom;
}

#organigramme #fleche_bas{
	display: inline-block;
	width:2px;
	height:100px;
	border-left: 2px solid black;
}
#organigramme #fleche_bureau_journal_mouvement {
	display: inline-block;
	vertical-align: middle;
	width: 34%;
	max-width: 300px;
	height: 2px;
	margin-top: 130px;
	margin-bottom: 54px;
	border-bottom: 2px solid black;
}

#organigramme #fleche_bureau_journal_mouvement #gauche {
	display: inline-block;
	vertical-align: top;
	float: left;
	width: 50%;
	margin-top: -130px;

	height: 134px;



	border-right: 2px solid black;
}




#organigramme .ligne {
	display: block;
	clear: both;
}

#organigramme .organe {
	min-height: 80px;
	width:50%;
 	padding: 5px;

background-color:#e95903;
 	cursor: pointer;
}




#organigramme .organe.expanded, #organigramme .organe:hover {
	background-color: #1D3674;
	border-color: transparent;
	color: white;
}

#organigramme .organe.expanded {
	cursor: default;
}

#organigramme .organe span {
	display: inline-block;
	vertical-align: middle;
	 font-size: 20px
}

#organigramme .organe span h2 {

	 font-size: 20px
}





#organigramme .ligne div {
	display: inline-block;

}

#organigramme .organe .membres {
	height: 100%;
	max-height: 0px;
	width: 100%;
	overflow: hidden;
	display: block;

	transition-property: max-height;
	transition-duration: 1s;
}

#organigramme .organe.expanded .membres {
	max-height: 2000px;
}

#organigramme .organe .membres .ligne {
	margin-bottom: 10px;
}

#organigramme .personne {
	display: inline-block;
	overflow: hidden;
	opacity: 0;
	height: 100%;
	max-height: 100px;
	width: 250px;
	background-color: grey;
	vertical-align: top;
	margin: 2px;

	transition-property: opacity, max-height;
	transition-duration: 1s, 1s;
}

#organigramme .personne.dirigeant {
	border: 3px solid #F1D92F
}

#organigramme .personne {
	opacity: 1;
}

#organigramme .personne:hover {
	max-height: 1500px;
}

#organigramme .personne img {
	float: left;
	height: 100px;
}

#organigramme .personne div {
	display: block;
	width: 250px;
	clear: both;
}

#organigramme .personne h1{
	font-size: 15px;
}

#organigramme .personne h2{
	font-size: 12px;
}

#organigramme .organe button.collapse {
	background-color: #F1D92F;
	border: none;
	color: black;
	line-height: 40px;
	font-weight: bold;
	font-size: 25px;
	width: 80%;
	min-width: 120px;
	cursor: pointer;
}