#profil {
	width: 100%;
	margin-top: 10px;
}

#profil > div {
	display: inline-block;
	width: 15%;

}

#profil div .image_auteur{
	width:100%;
}

#profil div h1{
	 font-size:16px;
    margin:10px;

}

#profil > div:first-child {
	float: left;
	background-color: #9f2020;
	color: white;
}

#profil > div:first-child > a > div {
	display: inline-block;
}

#profil > div:first-child a div {
	background-color: gray;
	color: white;
	width: 80%;
	padding: 5px;
	margin: 2px 2px 5px;
}

#profil > div:first-child a div:hover{
	border:2px solid black;
	margin: 0 0 3px;
}


#profil > div:last-child {
	width: 75%;
}

#profil .article {
display:inline-block;
  vertical-align:top;
  text-align:left;
  color:#292927;
  white-space: normal;
  margin:2px;
  margin-top: 4px;
  width:22.5%;
  max-width: 400px;
  min-width: 200px;
  background-color:#ece9e9;
}

.lire_la_suite{
position:relative;
bottom:5px;
width:100%;
margin-top:10px;
line-height: 80px;
}

.lire_la_suite h1{
display:inline-block;
vertical-align: middle;
float:left;
text-decoration:none;
color:black;
}
.lire_la_suite img{
position:relative;
vertical-align: middle;
bottom:0px;
right:5px;
display:inline-block;
margin-left:10px;
margin-top: 5px;
width:30px;
}

#profil .article a {
	display: inline-block;
	width: 100%;
	max-width: 252px;
	vertical-align: middle;
	float: left;
}

#profil .article .image_article {
	width: 100%;
}

#profil .article p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 5px;
}

#profil .article .texte_article {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 580px;
	margin: 5px;
}

#profil .article h1 {
	font-size: 20px;
}

#profil .article h2 {
	font-size: 14px;
	text-align: left;
}

#profil .article h3 {
	font-size: 12px;
	font-style: italic;
	text-align: left;
	text-indent: 12px;
}

#profil .article p {
	font-size: 12px;
	text-align: left;
}